body {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    font-size: 15px;
}

.explain {
    text-align: center;
}

.loader {
    text-align: center;
    display: none;
}

path { 
    stroke-width: 2;
    fill: none;
}

.female {
	stroke: black;
    stroke-width: 2;
    fill: none;
}

.title {
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}



